.git
.gitignore
docker-compose.yml
node_modules
vendor/
storage/*.key
.env
.dockerignore
Dockerfile
docker/
README.md
.phpunit.result.cache
.php-cs-fixer.cache
.npm
.idea
*.log
*.sqlite
*.tar.gz
*.zip
