APP_NAME="Présence UAC"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://presence-uac-backend.onrender.com

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

LOG_CHANNEL=stderr
LOG_LEVEL=error

# Supabase PostgreSQL (Transaction Pooler — port 6543)
DB_CONNECTION=pgsql
DB_URL=postgresql://postgres.kvgzlngijxrjjdvashph:Mesetudeskp12@aws-0-eu-west-1.pooler.supabase.com:6543/postgres
DB_SSLMODE=require

# Supabase Storage (S3 compatible)
SUPABASE_URL=https://kvgzlngijxrjjdvashph.supabase.co
SUPABASE_KEY=7e5d79f57e3c9810c607e236f0b30d09
SUPABASE_SECRET=2f9847ba53cc86ca97f219451e5e1a3bf6c54c5ea3308caf464e9a80091d178c
SUPABASE_BUCKET=presence-uac
FILESYSTEM_DISK=supabase

# CORS — URL du frontend Vercel
ALLOWED_ORIGINS=https://presence-uac.vercel.app
FRONTEND_URL=https://presence-uac.vercel.app

# Mail
MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@presence.uac.bj"
MAIL_FROM_NAME="${APP_NAME}"

# Google Gemini IA
GEMINI_API_KEY=
